modules = ["python-3.12", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start React App"

[[workflows.workflow]]
name = "Start React App"
author = 44372050
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"
